.footer__container {
    margin-top: auto;
}

.footer-container__section {
    height: 129px;
    margin-top: 7px;
}

.inner-footer__container {
    padding: 45px 0;
}

.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__col {
    justify-content: space-between;
    display: flex;
}

.footer__col--align--right {
    justify-content: flex-end;
}