body {
    color: white;
    font-size: 16px;
    line-height: 1.42;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin : 0;
    padding : 0;
}


a {
    color: inherit;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

* {
    box-sizing:border-box
}

.img {
    display: block;
    max-width: 100%;
}

.main-page-wrapper {
    background: url(./img/hero.png) center top no-repeat, url(./img/bottom-pic.png) center bottom 306px no-repeat;
    overflow: hidden;
    min-width: 1200px;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    width: 1142px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
    padding-top: 23px;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}
.logo {
    display: block;
    margin-right: 241px;
}

.menu {
    padding-top: 9px;
}

.menu__item {
    display: inline-block;
    margin-right: 57px;
}
.menu__item:last-child {
    margin-right: 0px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}
.contacts__info {
    font-size: 13px;
    text-decoration: underline;
}

.contacts__info:hover {
    color: #FF3D00;
}

.main {
    margin-bottom: 233px;
    text-align: center;
}
.main__title {
    margin-bottom: 11px;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
}

.main__text {    
    font-size: 18px;
    margin-bottom: 41.5px;
}

.btn {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 54px;
    border-radius: 35px;
    text-decoration: none;
    display: inline-block;
}
  
.btn--orange {
    color: #fff;
    background: #FF5500;
}
  
.btn--orange:hover {
    background: #FF3D00;
}
  
.btn--white {
    color: #FF5500;
    background: #fff;
    border: 2px solid #FF5500;
    box-sizing: border-box;
}
  
.btn--white:hover {
   background: #FF5500;
   color: #fff;
}

.btn--orange-about {
    padding: 18px 40px;
    width: 168px;
    color: #fff;
    background: #FF5500;
}

.btn--orange-about:hover {
    background: #FF3D00;
}

.offers {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 174px;
}
  
.offers__list {
    display: flex;
    justify-content: space-between;
}
  
.offers__item {
    min-height: 476px;
    width: calc(100% / 3 - 18px);
}

.offer {
    font-size: 16px;
    background: #fff;
    border-radius: 5px;
    display: flex;
}

.offer__img-wrapper {
    padding: 27px 21px 48px 25px;
}
  
.offer__img {
    margin: 4px -2px 26px 8px;
}
  

.offer__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    margin-bottom: 17px;
}

.offer__desc {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.offer__desc-block {
    color: #666666;
    width: 124px;
    margin-right: 11px;
}

  
.offer__desc-number {
    color: #000;
    font-weight: 700;
}
  
  
.offer__text {
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin-bottom: 29px;
}


.news__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 51px;
    text-transform: uppercase;
}
.news {
    margin-bottom: 145px;
}

.news__list {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
}
  
.news__item {
    margin-right: 23px;
    vertical-align: top;
    position: relative;
    flex: 1;
}
  
.news__item:last-child {
    margin-right: 0;
}
  
.knowledge__pic {
    display: block;
}
    
.knowledge__desc {
    position: absolute;
    bottom: 0;
    padding: 41px 33px 10px;
    min-height: 179px;
    display: flex;
    flex-direction: column;
}
  
.knowledge__dateeime {
    font-size: 14px;
    margin-bottom: 14.5px;
    
}
  
.knowledge__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.pagination {
    justify-content: center;
    display:flex;
    align-items: center;
}


.pagination--services {
    color: black;
}

.services .pagination__link:hover {
    color: #FF5300;
}
  
.pagination__info {
    min-width: 169px;
    line-height: 32px;
    margin-right: -22px;
}
  
.pagination__list {
    display: flex;
}
  
.pagination__item {
    text-align: center;
}
  
.pagination__item--active {
    background: #FF5500;
    border-radius: 50%;
}
  
.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}
  
.pagination__link:hover {
    background: #FF5500;
}
 .about__item {
    justify-content: center;
    display: flex;
 }
.about__item::before {
    content: "";
    width: 490px;
    height: 505px;
    background: url("./img/cameraman.png") center center / cover no-repeat;
}

.about {
    margin-bottom: 53px;
}

.about__item {
    justify-content: center;
    display: flex;
 }

.about__content {
    max-width: 785px;
    min-height: 455px;
    background: white;
    padding: 69px 204px 66px 81px;
    margin-left: -138px;
    margin-top: 97px;
}

.about__content-text{
    margin-bottom: 44px;
    line-height: 27px;
}

.about__title {
    color: #000;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
    line-height: 49px;
    margin-bottom: 41px;
}

.about__text {
    color: #060606;
}


.about__text p:last-child {
    margin-bottom: 0px;
}



.footer__container {
    margin-top: auto;
}

.footer-container__section {
    height: 129px;
    margin-top: 7px;
}

.inner-footer__container {
    padding: 45px 0;
}

.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__col {
    justify-content: space-between;
    display: flex;
}

.footer__col--align--right {
    justify-content: flex-end;
}
.footer .logo {
    margin-right: 129px;
}

.footer .menu {
    padding-top: 14px;
}

.footer .menu__item  {
    display: inline-block;
    vertical-align: middle;
}
.socials {
    justify-content: flex-start;
    display: flex;
    margin-right: 75px;
    padding-top: 10px;
}
 
.socials__item {
     display: inline-block;
     margin-right: 6px;
}
 
.socials__item:last-child {
     margin-right: 0;
}

.socials__link {
     display: block;
     text-decoration: none;
     width: 36px;
     height: 36px;
    background: center center no-repeat;
}
 
.socials__item-tg .socials__link {
     position: relative;
}
 
.socials__item-tg .socials__link:after {
     display: block;
     content: "";
     position: absolute;
     width: 36px; height: 36px;
     background: url(./img/telegram.png);
 }
 
.socials__item-tg .socials__link:hover {
     filter: invert(0.5);
}
 
.socials__item-vk .socials__link {
     position: relative;
}

.socials__item-vk .socials__link:after{
     display: block;
     content: "";
     position: absolute;
     width: 36px; height: 36px;
     background: url(./img/vk.png);
}

.socials__item-vk .socials__link:hover {
     filter: invert(0.5);
}
 
.socials__item-facebook .socials__link {
     position: relative;
}

.socials__item-facebook .socials__link:after {
     display: block;
     content: "";
     position: absolute;
     width: 36px; height: 36px;
     background: url(./img/f.png);
}
 
.socials__item-facebook .socials__link:hover {
     filter: invert(0.5);
}
 
.socials__item-inst .socials__link {
     position: relative;
}

.socials__item-inst .socials__link::after{
     display: block;
     content: "";
     position: absolute;
     width: 36px; height: 36px;
     background: url(./img/in.png);
}
 
.socials__item-inst .socials__link:hover {
     filter: invert(0.5);
}

.footer .contacts {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.footer .contacts__info {
        right: 0px;
        color: #9A9A9A;
        font-size: 11px;
        padding-top: -200px;
}


/*amenities page*/
.top--line {
    background-image: #17191C url(./img/top-line.png) right 45% top no-repeat;
    min-height: 416px;
    display: flex;
    flex-direction: column;
    padding-bottom: 21px;
    flex: 1;
    justify-content: space-between;
}


.top--line .header {
    margin-bottom: 123px;
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 92px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: 700;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
    padding: 3px;
}

.breadcrumbs__item:last-child:after {
    display: none;
}
.breadcrumbs__link {
    font-size: 14px;
    color: #9A9A9A;
}

.page-content {
    background: white;
    color:#303030;
    padding: 94px 188px 88px;
}

.amentities__container {
    margin: 0 auto;
    width: 1168px
}

.service {
    display: flex;
    text-decoration: none;
}

.services__item {
    margin-bottom: 43.5px;
}

.services__item:last-child {
    margin-bottom: 58px;
}

.service__img {
    width: 30%;
    margin-right: 14.3%;
}

.service__content {
    flex: 1;
    padding-top: 11px;
}

.service__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 31.5px;
    color: black;
}

.page-content .pagination__display {
    margin-right: 25px;
}
.service__desc {
    line-height: 27px;
    margin-bottom: 33px;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding-top: 81px;
}
  
.inner-section--bg--grey {
    background: #F4F5F5;
}
  
.inner-section__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 64px;
    color: #202020;
}
  
.inner-section__title--partners {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 86px;
}
 
.partners__item {
    width: 25%;
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}
  
.partners__item:nth-child(4n + 1) {
    justify-content: flex-start;
}
    
.partners__item:nth-child(4n + 4) {
    justify-content: flex-end;
}
  
  
.partners__link {
    text-decoration: none;
    display: flex;
    width: 209px;
    height: 103px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
} 
  
.partners__link:hover {
    filter: grayscale(0);
    transition: all 0.3s;
}