.social {
  margin-right: 76px;
  padding-top: 16px;
}

.social__list {
  display: flex;
}

.social__item {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}


.social__link:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url(./../../img/socials/css_sprites\ \(2\).png);
  opacity: 1;
  transition: opacity 1s;
}

 .social__link:after {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  background-image: url(./../../img/socials/css_sprites\ \(2\).png);
  opacity: 0;
  transition: opacity 1s;
}

.social__link:hover:before {
  opacity: 0;
}
.social__link:hover:after {
  opacity: 1;
  filter: invert(1);
}

.social__link-tg:before {
  background-position: 102px -10px;
}
.social__link-tg:after {
  background-position: 102px -10px;
}
.social__link-vk:before {
  background-position: 46px 102px;
}
.social__link-vk:after {
  background-position: 46px 102px;
}

.social__link-facebook:before {
  background-position: -234px -66px;
}
.social__link-facebook:after {
  background-position: -234px -66px;
}

.social__link-inst:before {
  background-position: 47px 46px;
}
.social__link-inst:after {
  background-position: 47px 46px;
}