.header__container {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
    padding-top: 23px;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.top--line .header {
    margin-bottom: 123px;
}
