.news__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 51px;
    text-transform: uppercase;
}
.news {
    margin-bottom: 145px;
}

.news__list {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
}
  
.news__item {
    margin-right: 23px;
    vertical-align: top;
    position: relative;
    flex: 1;
}
  
.news__item:last-child {
    margin-right: 0;
}
  
.knowledge__pic {
    display: block;
}
    
.knowledge__desc {
    position: absolute;
    bottom: 0;
    padding: 41px 33px 10px;
    min-height: 179px;
    display: flex;
    flex-direction: column;
}
  
.knowledge__dateeime {
    font-size: 14px;
    margin-bottom: 14.5px;
    
}
  
.knowledge__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}