.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding-top: 87px;
}
  
.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section--bg--grey--rewiews {
    padding: 79px 0px 56px;
    background: #F4F5F5;
}
  
.inner-section__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 60px;
    color: #202020;
}
  
.inner-section__title--partners {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
}