.separator {
    background: #373737 ;
    min-height: 363px;
    display: flex;
    flex-direction: column;
   justify-content: center;

}

.separator__content {
    display: flex;
}

.separator__title {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 119px;
    min-width: 48%;
}

.sales-nuber {
    color: #ff4500;
}
